<div class="backdrop">
  <div class="modal">
    <button class="modal-close-button">
      <svg class="modal-close-icon" width="14" height="14">
        <use href="/img/artist-modal/close-modal.svg#icon-close-modal"></use>
      </svg>
    </button>
    <h3 class="modal-title">Unlike Pluto</h3>
    <div class="modal-content">
      <div class="description-wrapper">
        <img
          class="modal-img"
          src="../img/artist-modal/Placeholder Image.png"
          alt="hello"
        />
        <div class="description-text-wrapper">
          <ul class="artist-description">
            <li class="artist-desc-item">
              <h4 class="artist-desc-title">Years active</h4>
              <p class="artist-desc-text">2013-present</p>
            </li>
            <li class="artist-desc-item">
              <h4 class="artist-desc-title">Sex</h4>
              <p class="artist-desc-text">Male</p>
            </li>
            <li class="artist-desc-item">
              <h4 class="artist-desc-title">Members</h4>
              <p class="artist-desc-text">1</p>
            </li>
            <li class="artist-desc-item">
              <h4 class="artist-desc-title">Country</h4>
              <p class="artist-desc-text">United States</p>
            </li>
          </ul>
          <div class="artist-biography">
            <h4 class="artist-desc-title">Biography</h4>
            <p class="artist-desc-text">
              Armond Arabshahi, known by his stage name Unlike Pluto, is an
              American singer, songwriter, music producer, and former DJ. He is
              mainly known for his song "Everything Black", released under the
              record label Monstercat in 2017, which he produced with
              Philadelphia-based vocalist and DJ Mike Taylor.
            </p>
          </div>

          <ul class="artist-genres">
            <li class="artist-genres-item">
              <p class="artist-genres-text">Alternative</p>
            </li>
            <li class="artist-genres-item">
              <p class="artist-genres-text">Pop</p>
            </li>
            <li class="artist-genres-item">
              <p class="artist-genres-text">Rock</p>
            </li>
            <li class="artist-genres-item">
              <p class="artist-genres-text">Indie</p>
            </li>
          </ul>
        </div>
      </div>
      <h4 class="albums-title">Albums</h4>
      <ul class="albums-list">
        <li class="albums-item">
          <h5 class="album-title">Ghost Gardens</h5>
          <div class="tracks-heading">
            <p class="tracks-heading-text">Track</p>
            <p class="tracks-heading-text">Time</p>
            <p class="tracks-heading-text">Link</p>
          </div>
          <ul class="tracks">
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Is It Victory</p>
              <p class="track-length">2:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Misery</p>
              <p class="track-length">2:56</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">One On One</p>
              <p class="track-length">3:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Infinity</p>
              <p class="track-length">3:24</p>
              <div class="track-link-space"></div>
            </li>
          </ul>
        </li>
        <li class="albums-item">
          <h5 class="album-title">Ghost Gardens</h5>
          <div class="tracks-heading">
            <p class="tracks-heading-text">Track</p>
            <p class="tracks-heading-text">Time</p>
            <p class="tracks-heading-text">Link</p>
          </div>
          <ul class="tracks">
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Is It Victory</p>
              <p class="track-length">2:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Misery</p>
              <p class="track-length">2:56</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">One On One</p>
              <p class="track-length">3:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Infinity</p>
              <p class="track-length">3:24</p>
              <div class="track-link-space"></div>
            </li>
          </ul>
        </li>
        <li class="albums-item">
          <h5 class="album-title">Ghost Gardens</h5>
          <div class="tracks-heading">
            <p class="tracks-heading-text">Track</p>
            <p class="tracks-heading-text">Time</p>
            <p class="tracks-heading-text">Link</p>
          </div>
          <ul class="tracks">
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Is It Victory</p>
              <p class="track-length">2:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Misery</p>
              <p class="track-length">2:56</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">One On One</p>
              <p class="track-length">3:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Infinity</p>
              <p class="track-length">3:24</p>
              <div class="track-link-space"></div>
            </li>
          </ul>
        </li>
        <li class="albums-item">
          <h5 class="album-title">Ghost Gardens</h5>
          <div class="tracks-heading">
            <p class="tracks-heading-text">Track</p>
            <p class="tracks-heading-text">Time</p>
            <p class="tracks-heading-text">Link</p>
          </div>
          <ul class="tracks">
            <li class="tracks-item">
              <p class="track-name">Fragile Skin Of Me</p>
              <p class="track-length">2:15</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Is It Victory</p>
              <p class="track-length">2:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Misery</p>
              <p class="track-length">2:56</p>
              <div class="track-link-space"></div>
            </li>
            <li class="tracks-item">
              <p class="track-name">One On One</p>
              <p class="track-length">3:12</p>
              <div class="track-link-space">
                <a class="track-link" href=""
                  ><svg class="track-link-icon" width="24" height="24">
                    <use
                      href="/img/artist-modal/close-modal.svg#icon-youtube"
                    ></use></svg
                ></a>
              </div>
            </li>
            <li class="tracks-item">
              <p class="track-name">Infinity</p>
              <p class="track-length">3:24</p>
              <div class="track-link-space"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
