<div class="feedback-container container">
  <div class="feedback-section">
    <div class="swiper-container">
      <div class="swiper-wrapper" id="feedback-wrapper">
        <div class="loader-wrapper">
          <span class="loader"></span>
        </div>
      </div>
    </div>
    <div class="swiper-buttons">
      <button id="prevBtn" aria-label="Previouse feedback">
        <svg class="icon icon-arrow-left" width="16" height="16">
          <use href="../public/arrow-icon/arrow.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button id="nextBtn" aria-label="Next feedback">
        <svg class="icon icon-arrow-right" width="16" height="16">
          <use href="../public/arrow-icon/arrow.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="pagination" id="pagination"></div>
    <button class="leave-feedback-btn">Leave feedback</button>
  </div>
</div>
