<footer class="footer">
    <div class="footer__container">

      
        <div class="footer__top">
           
            <a href="./index.html" class="footer__logo">
                <img src="./images/logo-full.svg" alt="ArtistsHub logo" class="footer__logo-img--full" />
                <img src="./images/logo-small.svg" alt="Artists logo" class="footer__logo-img--small" />
            </a>

            
            <nav class="footer__nav">
                <ul class="footer__nav-list">
                    <li><a href="#artists" class="footer__nav-link">Artists</a></li>
                    <li><a href="#about-us" class="footer__nav-link">About us</a></li>
                    <li><a href="#reviews" class="footer__nav-link">Reviews</a></li>
                </ul>
            </nav>
        </div>

       
        <div class="footer__divider"></div>

        
        <div class="footer__bottom">
           
            <div class="footer__social">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                    <img src="./images/instagram.svg" alt="Instagram icon" />
                </a>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                    <img src="./images/facebook.svg" alt="Facebook icon" />
                </a>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                    <img src="./images/youtube.svg" alt="YouTube icon" />
                </a>
            </div>

           
            <p class="footer__copyright">
                © 2025 ArtistsHub. All rights reserved.
            </p>
        </div>

    </div>
</footer>
  