body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  background-color: #060307;
}

.section {
  padding: 64px 0;
  /* scroll-margin-top: 64px; */
}

/* @media only screen and (min-width: 768px) {
  .section {
    scroll-margin-top: 72px;
  }
} */

@media only screen and (min-width: 1440px) {
  .section {
    padding: 112px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
}
