.footer {
    background-color: #0b0b0b;
    color: #ffffff;
    padding: 64px 80px;
}

.footer__container {
    max-width: 1440px;
    padding: 80px 64px;
    display: flex;
    flex-direction: column;
 
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 80px;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    
}


.footer__logo-img--full {
    display: block;
    width: 116px;
    height: auto;
}

.footer__logo-img--small {
    display: none;
}

.footer__nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__nav-link {

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__nav-link:hover {
    color: #a259ff;
    cursor: pointer;
}

/* Лінія */
.footer__divider {
    width: 100%;
    height: 1px;
    background-color: #ffffff33;
   
    display: block;
}

.footer__bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
   
    
    
}

.footer__social {
    display: flex;
    gap: 24px;
    order: 1;

}

.footer__copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #888888;
    order: 0;

}


@media (max-width: 1439px) and (min-width: 768px) {
    .footer {
        padding: 80px 64px;
    }

    .footer__logo-img--full {
        width: 116px;
    }

    .footer__bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}








@media (max-width: 767px) {
    .footer {
        padding: 0;
    }

    .footer__container {
        padding: 48px 20px;
       
        gap: 48px;
    }

    .footer__top {
        flex-direction: column;
        align-items: center;
       gap: 24px;
        margin-bottom: 0;
        
    }

    .footer__logo-img--full {
        display: none;
    }

    .footer__logo-img--small {
        display: block;
        width: 60px;
        height: auto;
    }

    .footer__nav-list {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

      

    .footer__bottom {
        flex-direction: column;
        align-items: center;
     gap: 16px;
        margin-top: 0;
    
    }

    .footer__social {
        gap: 16px;
        order: 0;
    }

    .footer__copyright {
        order: 0;
        white-space: nowrap;
        
        text-align: center;
        max-width: 100%;
    }
}